* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
}

header {
    height: 50px;
}

header > div {
    flex-direction: row-reverse;
}

.header-button {
    background-color: rgba(103, 115, 124, .7);
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
}

footer {
    justify-content: space-between;
    font-size: 12px;
    height: 50px;
    background-color: #222222;
}
.icon-section {
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    padding-right: 2px;
    margin: 10px;
}
.button {
    align-items: center;
    margin-right: 5px;
}

#green {
    color:#4Bc800;
}

footer i {
    font-size: 20px;
}

.exit {
    color: red;
    align-items: center;
    background-color: grey;
    padding: 8px;
}  

.dimension {
    font-size: 10px;
}

main {
    height: calc(100vh - 100px);
    flex-wrap: wrap;
    gap: 5px;
    overflow-y: auto;
    justify-content: center;
}


.img > img {
    width: 100%;
    display: block;
}

.img {
    flex-basis: 13%;
    position: relative;
    
}

.participants {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3px;
    font-size: 13px;
    background-color: rgba(103, 115, 124, .7);
}